<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('general.index') }}"> ~Flask Movies~ </a>
            </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('general.movies', page=1) }}">Movies</a></li>
                    <li><a href="{{ url_for('general.actors', letter='A') }}">Actors</a></li>
                    {% if session["username"] %}
                    <li><a href="{{ url_for('activity.main') }}">Activities</a></li>+
                    {% endif %}
                </ul>
                {% if not session["username"] %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('registration.signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                    <li><a href="{{ url_for('registration.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('profile.profile_watchlist', username = session['username']) }}"><span class="glyphicon glyphicon-user"></span> {{ session['username'] }} </a></li>
                    <li><a href="{{ url_for('registration.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                </ul>
                {% endif %}
        </div>
    </nav>

    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{{ url_for('profile.profile_watchlist', username = session['username']) }}">Watchlist</a></li>
                        <li><a href="{{ url_for('profile.profile_comments', username = session['username']) }}">Comments</a></li>
                        <li><a href="{{ url_for('profile.profile_settings', username = session['username']) }}">Profile Settigs</a></li>
                    </ul><br>
                </div>
                <div class="col-sm-9">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>


  
</body>
</html>
