{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<div class="col-sm-4"></div>

<div class="col-sm-4">
    <div class="top_margin_registration">
        <form action="{{ url_for('registration.forgotpassword') }}" method="POST">
            <div class="form-group">
                <label>Email</label>
                {% if not flag %}
                    <input type="email" class="form-control" name="email" required>
                {% else %}
                    <input class="form-control" value="{{ email }}" disabled>
                    <br>
                    <label>Verify Code</label>
                    <input type="text" class="form-contrl" name="code" required>
                    <br>
                    <br>
                    <label>New Password</label>
                    <input type="password" class="form-control" name="password" required>
                    <label>Verify New Password</label>
                    <input type="password" class="form-control" name="verify_password" required>
                {% endif %}
            </div>
            {% if not flag %}
                <button type="submit" class="btn btn-primary">Send verify code</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Verify</button>
            {% endif %}
        </form>
        <br>
        <p style="color: red; font-size: 25px;">{{ error }}</p>
    </div>
</div>

<div class="col-sm-4"></div>
{% endblock %}