{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<div class="col-sm-4">
    <div style="margin-top: 100px;">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="centering text-center">
                    {% for a in actor %}
                        <h1>{{ a.name }}</h1>
                        <hr>
                        <div class="row">
                            <img src="{{ a.photo }}" height="200" width="150">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-sm-4">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="centering text-center">
                <h1>Other Movies</h1>
                <hr>
                {% for movie in actor_movies %}
                    <h1><a href="{{ url_for('general.details', movie_id = movie.id) }}">{{ movie.title }}</a></h1>
                    <a href="{{ url_for('general.details', movie_id = movie.id) }}"><img src="{{ movie.poster }}" width="400" height="600"></a>
                    <h4>Rank: {{ movie.rank}}</h4>
                    <h4>Rate: <span class="badge">{{ movie.rate }}</span></h4>
                    <h4>Year: {{ movie.year }}</h4>
                    <h4>{{ movie.description }}</h4>
                    <h4>Director: {{ movie.director }}</h4>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>   
</div>


<div class="col-sm-4">
    <div style="margin-top: 150px;">
        <div class="container-fluid">
            <div class="row-fluid">
                <h3>Leave a comment</h3>
                <hr>
                {% if session["username"] %}
                {% for a in actor %}
                <form action="{{ url_for('general.add_comment_actor', actor_id = a.id) }}" method="POST">
                {% endfor %}                
                    <div class="form-group">
                        <textarea class="form-control" rows="3" required name="comment_body"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                {% else %}
                <div class="form-group">
                    <a href="{{ url_for('registration.signup') }}"><textarea class="form-control" rows="3" disabled value="Login requiered"></textarea></a>
                </div>
                    <button type="submit" class="btn btn-success" disabled>Submit</button>
                {% endif %}

                <h3>Comments:</h3>
                {# id=row[0],
                username=row[1],
                movie_imdb_id=row[2],
                comment=row[3],
                date=row[4] #}
                {% for comment in comments %}
                <h4>{{ comment.username }} <small>| Posted at: {{ comment.date }}</small></h4>
                    <p>{{ comment.comment }}</p>
                    <hr>
                {% endfor %}


                <!--COMMENT PAGINATOIN-->
                <ul class="pagination">
                {% for page in total_pages %}
                    <li><a href="{{ url_for('general.actor_details', actor_id=actor_id, page=page) }}">{{ page }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}