{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<div class="col-sm-4"></div>

<div class="col-sm-4">
    <div>
        <h1>Welcome to Falsk Movies Webapp</h1>
        <p>All movies and actors scraped from imdb top 250.
        To reach all contents -add watchlist, make comment, activities etc.- 
        you sholud logged in. Thanks for visit.</p>
        <h2><small>Contact</small></h2>
        <ul>
            <li><a href="mailto: imranalperenbayram@gmail.com">imranalperenbayram@gmail.com</a></li>
            <li><a href="https://t.me/imranalperen">Telegram</a></li>
            <li><a href="https://github.com/imranalperen">githup</a></li>
        </ul>
    </div>
</div>

<div class="col-sm-4"></div>
{% endblock %}